.comment-likes {
  font-weight: bold;
}
.comment-username {
  font-weight: bold;
  margin-right: 5px;
}
.adding-comment input {
  border: none;
  outline: none;
  width: 90%;
}
.adding-comment input::placeholder {
  color: grey;
  border: none;
  outline: none;
}

.comment-icons {
  height: 40px;
  width: 40px;
}
.comment-section {
  margin: 2% 5%;
  font-size: 14px;
  padding-bottom: 15px;
}
