.searchbar {
  display: flex;
  justify-content: space-between;
  margin: 5% 5%;
  flex-wrap: wrap;
}
.seprate {
  width: 2px;
  background-color: grey;
  height: 100%;
  margin-right: 10px;
}
.searchbar-img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.searchbar-right {
  display: flex;
  justify-content: space-between;
}
.searchbox {
  display: flex;
  align-self: center;
}
.searchbox input {
  border-radius: 2px;
  outline: none;
  border: 1px solid grey;
  background-color: #eaecef;
}

.searchbox input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: grey;
}
.searchbox input::-moz-placeholder {
  /* Firefox 19+ */
  color: grey;
  font-weight: bold;
  text-align: center;
}
