.id-name {
  font-weight: bold;
  /* align-content: center; */
  align-self: center;
  margin-left: 15px;
}
.posttitle {
  display: flex; /* justify-content: center; */
}
.post-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.comment {
  margin-top: 3px;
}

.postimage_div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.postimage {
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
  max-height: 400px;
}

.postcontainer {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  max-width: 60%;

  /* border: 1px solid grey; */
  border-radius: 5px;
}
.card {
  box-shadow: 2px 2px 2px 1px grey;
  margin-bottom: 70px;
  border-radius: 5px;
  word-break: break-all;
}
